# Korea University

## Sqlite contd.

In [1]:
import sqlite3

In [2]:
!pwd

/Users/sanghyub/space/Bigdata_X_Campus/Lecture_Noteboom

In [3]:
conn = sqlite3.connect(':memory:')

In [4]:
cur = conn.cursor() #명시적으로 꼭 서술해줄 것!

In [79]:
cur.executescript(
"""     

        create table artist (
        id INTEGER primary key, 
        name text
        );
        
        create table genre (
        id INTEGER primary key,
        name text
        );
        
        create table album (
        id INTEGER primary key,
        title text,
        artist_id INTEGER
        );
        
        create table track (
        id INTEGER primary key,
        title text,
        length INTEGER,
        count INTEGER,
        rating INTEGER,
        album_id INTEGER,
        genre_id INTEGER
        );
        
        insert into artist (id, name) values (1, 'Led Zepplin');
        insert into artist (id, name) values (2, 'Erlend Oye');
        insert into genre (id, name) values (1,'Rock');
        insert into genre (id, name) values (2,'Indi Rock');
        
"""
)

ERROR:root:An unexpected error occurred while tokenizing input
The following traceback may be corrupted or invalid
The error message is: ('EOF in multi-line string', (1, 0))

OperationalError: table artist already exists

In [6]:
cur.execute('select * from artist')

In [7]:
print(cur.fetchall())

[(1, 'Led Zepplin'), (2, 'Erlend Oye')]

In [8]:
artist = cur.fetchall()

In [9]:
for id_ in artist:
    cur.execute()

In [10]:
cur.executescript( 
"""
    insert into album (title, artist_id) values ('IV', 1);
    insert into album (title, artist_id) values ('Legao', 2);
    insert into track (title, album_id, genre_id) values ('Black Dog', 1, 1);
    insert into track (title, album_id, genre_id) values ('Stairway to heaven', 1, 1);
    insert into track (title, album_id, genre_id) values ('Pem Fong', 2, 2);
    insert into track (title, album_id, genre_id) values ('Rainman', 2, 2);
    
""")

In [11]:
cur.execute('select * from artist, album')

In [12]:
print(cur.fetchall())

[(1, 'Led Zepplin', 1, 'IV', 1), (1, 'Led Zepplin', 2, 'Legao', 2), (2, 'Erlend Oye', 1, 'IV', 1), (2, 'Erlend Oye', 2, 'Legao', 2)]

In [13]:
for row in cur.fetchall():
    print(row)

In [14]:
cur.execute('select * from artist join album')

In [15]:
for row in cur.fetchall():
    print(row)

(1, 'Led Zepplin', 1, 'IV', 1)
(1, 'Led Zepplin', 2, 'Legao', 2)
(2, 'Erlend Oye', 1, 'IV', 1)
(2, 'Erlend Oye', 2, 'Legao', 2)

In [16]:
cur.execute('select * from artist join album on artist.id = album.artist_id')

In [17]:
for row in cur.fetchall():
    print(row)

(1, 'Led Zepplin', 1, 'IV', 1)
(2, 'Erlend Oye', 2, 'Legao', 2)

In [18]:
cur.execute('select a.name, album.title from artist as a join album on a.id = album.artist_id')

In [19]:
for row in cur.fetchall():
    print(row)

('Led Zepplin', 'IV')
('Erlend Oye', 'Legao')

In [20]:
cur.execute('select * from album join track on album.id = track.album_id')

In [21]:
for row in cur.fetchall():
    print(row)

(1, 'IV', 1, 1, 'Black Dog', None, None, None, 1, 1)
(1, 'IV', 1, 2, 'Stairway to heaven', None, None, None, 1, 1)
(2, 'Legao', 2, 3, 'Pem Fong', None, None, None, 2, 2)
(2, 'Legao', 2, 4, 'Rainman', None, None, None, 2, 2)

In [22]:
cur.execute('select track.title, album.title, genre.name, artist.name from track join album join genre join artist \
            on track.album_id = album.id and \
            track.genre_id = genre.id and \
            album.artist_id = artist.id')

In [23]:
for row in cur.fetchall():
    print(row)

('Black Dog', 'IV', 'Rock', 'Led Zepplin')
('Stairway to heaven', 'IV', 'Rock', 'Led Zepplin')
('Pem Fong', 'Legao', 'Indi Rock', 'Erlend Oye')
('Rainman', 'Legao', 'Indi Rock', 'Erlend Oye')

In [24]:
with open('test.dump', 'w') as f:
    for line in conn.iterdump():
        f.write('%s\n' % line)

In [25]:
data = None
with open('test.dump', 'r') as f:
    data = f.read()

In [26]:
data

'BEGIN TRANSACTION;\nCREATE TABLE album (\n        id INTEGER primary key,\n        title text,\n        artist_id INTEGER\n        );\nINSERT INTO "album" VALUES(1,\'IV\',1);\nINSERT INTO "album" VALUES(2,\'Legao\',2);\nCREATE TABLE artist (\n        id INTEGER primary key, \n        name text\n        );\nINSERT INTO "artist" VALUES(1,\'Led Zepplin\');\nINSERT INTO "artist" VALUES(2,\'Erlend Oye\');\nCREATE TABLE genre (\n        id INTEGER primary key,\n        name text\n        );\nINSERT INTO "genre" VALUES(1,\'Rock\');\nINSERT INTO "genre" VALUES(2,\'Indi Rock\');\nCREATE TABLE track (\n        id INTEGER primary key,\n        title text,\n        length INTEGER,\n        count INTEGER,\n        rating INTEGER,\n        album_id INTEGER,\n        genre_id INTEGER\n        );\nINSERT INTO "track" VALUES(1,\'Black Dog\',NULL,NULL,NULL,1,1);\nINSERT INTO "track" VALUES(2,\'Stairway to heaven\',NULL,NULL,NULL,1,1);\nINSERT INTO "track" VALUES(3,\'Pem Fong\',NULL,NULL,NULL,2,2);\nINSERT INTO "track" VALUES(4,\'Rainman\',NULL,NULL,NULL,2,2);\nCOMMIT;\n'

In [27]:
conn = sqlite3.connect('dumb.db')

In [28]:
cur = conn.cursor()

In [29]:
cur.executescript(data)

OperationalError: table album already exists

In [ ]:
conn.execute('insert into track (title) values ("pass me by")')

In [ ]:
conn.execute('select * from track')

In [ ]:
cur.execute('select * from track left join album on album.id=track.album_id')

In [ ]:
for row in cur.fetchall():
    print(row)

## ORM - SQLAlchemy

ORM은 DB가 아니라 프로그래밍 테크닉이다

웹페이지 같이 transaction이 많지 않은 경우에 사용(작업시간이 많이 소요됨)

In [ ]:
!pip install --upgrade pip

In [1]:
import sqlalchemy

In [2]:
sqlalchemy.__version__

'1.1.13'

In [3]:
from sqlalchemy import create_engine

In [4]:
engine = create_engine('sqlite:///alchemytest.db', echo=True)

In [5]:
print(engine)

Engine(sqlite:///alchemytest.db)

In [6]:
from sqlalchemy import MetaData

In [7]:
metadata = MetaData()

In [36]:
print(metadata) #여기에 객체를 다 넣고 바인딩 할 것임

MetaData(bind=None)

In [13]:
from sqlalchemy import Table, Column, Integer, String, ForeignKey

In [38]:
users = Table('users', metadata,
             Column('id', Integer, primary_key=True), 
             Column('name', String),
             Column('fullname', String))

In [39]:
print(users)

users

In [40]:
address = Table('addresses',metadata, 
               Column('id', Integer, primary_key=True),
               Column('user_id', Integer, ForeignKey('users.id')), 
               Column('emain', String, nullable=False)) #실제 참조대상 참조키에 적어주기

In [41]:
metadata.create_all(engine)

2018-07-10 15:51:16,483 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-07-10 15:51:16,485 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 15:51:16,490 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-07-10 15:51:16,492 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 15:51:16,494 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("users")
2018-07-10 15:51:16,496 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 15:51:16,498 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("addresses")
2018-07-10 15:51:16,500 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 15:51:16,504 INFO sqlalchemy.engine.base.Engine
CREATE TABLE users (
	id INTEGER NOT NULL,
	name VARCHAR,
	fullname VARCHAR,
	PRIMARY KEY (id)
)


2018-07-10 15:51:16,506 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 15:51:16,508 INFO sqlalchemy.engine.base.Engine COMMIT
2018-07-10 15:51:16,510 INFO sqlalchemy.engine.base.Engine
CREATE TABLE addresses (
	id INTEGER NOT NULL,
	user_id INTEGER,
	emain VARCHAR NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(user_id) REFERENCES users (id)
)


2018-07-10 15:51:16,512 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 15:51:16,514 INFO sqlalchemy.engine.base.Engine COMMIT

In [42]:
for row in metadata.tables :
    print(row)

users
addresses

In [43]:
print(metadata) #binding=None!!

MetaData(bind=None)

In [44]:
print(users.insert())

INSERT INTO users (id, name, fullname) VALUES (:id, :name, :fullname)

In [45]:
users.insert().values(name='lee', fullname='Sanghyub,Lee')

In [46]:
print(users.insert().values(name='lee', fullname='Sanghyub,Lee'))

INSERT INTO users (name, fullname) VALUES (:name, :fullname)

In [47]:
insert = users.insert().values(name='lee', fullname='Sanghyub,Lee')

In [48]:
insert.compile()

In [49]:
insert.compile().params

{'fullname': 'Sanghyub,Lee', 'name': 'lee'}

In [50]:
insert.bind = engine

In [10]:
conn = engine.connect()

2018-07-10 16:23:55,498 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-07-10 16:23:55,500 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:23:55,503 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-07-10 16:23:55,504 INFO sqlalchemy.engine.base.Engine ()

In [52]:
result = conn.execute(insert)

2018-07-10 15:51:17,455 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname) VALUES (?, ?)
2018-07-10 15:51:17,457 INFO sqlalchemy.engine.base.Engine ('lee', 'Sanghyub,Lee')
2018-07-10 15:51:17,459 INFO sqlalchemy.engine.base.Engine COMMIT

In [53]:
result.inserted_primary_key

[1]

In [54]:
insert = users.insert()

In [55]:
conn.execute(insert, name='Han', fullname='Yewon, Han')

2018-07-10 15:51:17,695 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname) VALUES (?, ?)
2018-07-10 15:51:17,697 INFO sqlalchemy.engine.base.Engine ('Han', 'Yewon, Han')
2018-07-10 15:51:17,698 INFO sqlalchemy.engine.base.Engine COMMIT

In [56]:
result = conn.execute(insert, name = 'xxx', fullname='tentacion, XXX')

2018-07-10 15:51:17,762 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname) VALUES (?, ?)
2018-07-10 15:51:17,764 INFO sqlalchemy.engine.base.Engine ('xxx', 'tentacion, XXX')
2018-07-10 15:51:17,766 INFO sqlalchemy.engine.base.Engine COMMIT

In [57]:
result.inserted_primary_key

[3]

In [58]:
conn.execute(address.insert(), [
    {'user_id':1, 'emain':'anonymous.lee@test.com'},
    {'user_id':2, 'emain':'unknown.han@test.com'} 

])

2018-07-10 15:51:17,967 INFO sqlalchemy.engine.base.Engine INSERT INTO addresses (user_id, emain) VALUES (?, ?)
2018-07-10 15:51:17,970 INFO sqlalchemy.engine.base.Engine ((1, 'anonymous.lee@test.com'), (2, 'unknown.han@test.com'))
2018-07-10 15:51:17,971 INFO sqlalchemy.engine.base.Engine COMMIT

In [59]:
from sqlalchemy.sql import select

In [60]:
query = select([users])

In [61]:
print(query)

SELECT users.id, users.name, users.fullname
FROM users

In [62]:
result = conn.execute(query)

2018-07-10 15:51:18,275 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.name, users.fullname
FROM users
2018-07-10 15:51:18,278 INFO sqlalchemy.engine.base.Engine ()

In [63]:
for row in result :
    print(row)

(1, 'lee', 'Sanghyub,Lee')
(2, 'Han', 'Yewon, Han')
(3, 'xxx', 'tentacion, XXX')

In [64]:
row = result.fetchone()

In [65]:
print(row)

None

In [66]:
row = result.fetchone()

In [67]:
print(row)

None

In [68]:
result = conn.execute(query)

2018-07-10 15:51:18,795 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.name, users.fullname
FROM users
2018-07-10 15:51:18,797 INFO sqlalchemy.engine.base.Engine ()

In [69]:
rows = result.fetchall()

In [70]:
for row in rows:
    print(type(row))

<class 'sqlalchemy.engine.result.RowProxy'>
<class 'sqlalchemy.engine.result.RowProxy'>
<class 'sqlalchemy.engine.result.RowProxy'>

In [71]:
for row in rows:
    print(row)

(1, 'lee', 'Sanghyub,Lee')
(2, 'Han', 'Yewon, Han')
(3, 'xxx', 'tentacion, XXX')

Column인스턴스를 의미하는 c를 꼭 넣을 것

In [8]:
result = conn.execute(select([users.c.name, users.c.fullname]))

NameError: name 'conn' is not defined

In [9]:
from sqlalchemy import and_, or_, not_ #where절에 필요한 것들

In [ ]:
print(users.c.id == address.c.user_id) #python의 ==를 sql구문으로 바꿔줌

In [ ]:
or_(users.c.id == address.c.user_id, users.c.id == 1)

In [ ]:
print(or_(users.c.id == address.c.user_id, users.c.id == 1))

In [ ]:
print((users.c.id==address.c.user_id) | (users.c.id==1))

Where절 파이썬으로 정의하기

In [ ]:
result = conn.execute(select([users]).where(users.c.id==1))

In [ ]:
for row in result:
    print(row)

In [ ]:
result = conn.execute(select([users, address]).where(users.c.id==address.c.user_id))

In [ ]:
for row in result :
    print(row)

In [ ]:
result = conn.execute(select([users]).where(users.c.name.like('%a%'))) #l로 시작하는 모든 것

In [ ]:
for row in result:
    print(row)

where과 like같이 쓰기

In [ ]:
result = conn.execute(select([users, address]).where(users.c.id==address.c.user_id).where(users.c.name.like('%a%')))

In [ ]:
for row in result:
    print(row)

In [ ]:
from sqlalchemy import join

In [ ]:
print(users.join(address))

In [ ]:
print(users.join(address, users.c.id==address.c.user_id))

Inner join PK, FK로 간단하게

In [ ]:
result = conn.execute(select([users.c.name, address.c.emain]).select_from(users.join(address)))

In [ ]:
for row in result:
    print(row)

예제 해보기

In [14]:
artist = Table('Artist', metadata, 
              Column('id', Integer, primary_key=True),
              Column('name', String, nullable=False))

album = Table('Album', metadata,
             Column('id',Integer, primary_key=True),
             Column('title',String, nullable=False),
             Column('artist_id', Integer, ForeignKey('Artist.id')))

Genre = Table('Genre', metadata, 
              Column('id', Integer, primary_key=True),
              Column('name', String, nullable=False))

track = Table('Track', metadata,
             Column('id',Integer, primary_key=True),
             Column('title',String, nullable=False),
             Column('length', Integer, nullable=False),
             Column('rating', Integer, nullable=False),
             Column('count', Integer, nullable=False),
             Column('album_id', Integer, ForeignKey('Album.id')),
             Column('genre_id',Integer, ForeignKey('Genre.id')))
metadata.create_all(engine)

2018-07-10 16:25:11,624 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Artist")
2018-07-10 16:25:11,625 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:25:11,628 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Album")
2018-07-10 16:25:11,630 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:25:11,631 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Genre")
2018-07-10 16:25:11,633 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:25:11,634 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Track")
2018-07-10 16:25:11,636 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:25:11,638 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Artist" (
	id INTEGER NOT NULL,
	name VARCHAR NOT NULL,
	PRIMARY KEY (id)
)


2018-07-10 16:25:11,640 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:25:11,642 INFO sqlalchemy.engine.base.Engine COMMIT
2018-07-10 16:25:11,644 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Genre" (
	id INTEGER NOT NULL,
	name VARCHAR NOT NULL,
	PRIMARY KEY (id)
)


2018-07-10 16:25:11,645 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:25:11,648 INFO sqlalchemy.engine.base.Engine COMMIT
2018-07-10 16:25:11,649 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Album" (
	id INTEGER NOT NULL,
	title VARCHAR NOT NULL,
	artist_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(artist_id) REFERENCES "Artist" (id)
)


2018-07-10 16:25:11,650 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:25:11,653 INFO sqlalchemy.engine.base.Engine COMMIT
2018-07-10 16:25:11,655 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Track" (
	id INTEGER NOT NULL,
	title VARCHAR NOT NULL,
	length INTEGER NOT NULL,
	rating INTEGER NOT NULL,
	count INTEGER NOT NULL,
	album_id INTEGER,
	genre_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(album_id) REFERENCES "Album" (id),
	FOREIGN KEY(genre_id) REFERENCES "Genre" (id)
)


2018-07-10 16:25:11,657 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:25:11,660 INFO sqlalchemy.engine.base.Engine COMMIT

In [15]:
artist

Table('Artist', MetaData(bind=None), Column('id', Integer(), table=<Artist>, primary_key=True, nullable=False), Column('name', String(), table=<Artist>, nullable=False), schema=None)

In [16]:
metadata.tables

immutabledict({'Artist': Table('Artist', MetaData(bind=None), Column('id', Integer(), table=<Artist>, primary_key=True, nullable=False), Column('name', String(), table=<Artist>, nullable=False), schema=None), 'Album': Table('Album', MetaData(bind=None), Column('id', Integer(), table=<Album>, primary_key=True, nullable=False), Column('title', String(), table=<Album>, nullable=False), Column('artist_id', Integer(), ForeignKey('Artist.id'), table=<Album>), schema=None), 'Genre': Table('Genre', MetaData(bind=None), Column('id', Integer(), table=<Genre>, primary_key=True, nullable=False), Column('name', String(), table=<Genre>, nullable=False), schema=None), 'Track': Table('Track', MetaData(bind=None), Column('id', Integer(), table=<Track>, primary_key=True, nullable=False), Column('title', String(), table=<Track>, nullable=False), Column('length', Integer(), table=<Track>, nullable=False), Column('rating', Integer(), table=<Track>, nullable=False), Column('count', Integer(), table=<Track>, nullable=False), Column('album_id', Integer(), ForeignKey('Album.id'), table=<Track>), Column('genre_id', Integer(), ForeignKey('Genre.id'), table=<Track>), schema=None)})

In [17]:
for row in metadata.tables:
    print(row)

Artist
Album
Genre
Track

In [20]:
for row in engine.table_names():
    print(row)

2018-07-10 16:25:30,508 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2018-07-10 16:25:30,510 INFO sqlalchemy.engine.base.Engine ()
Album
Artist
Genre
Track

In [19]:
conn.execute(Genre.insert(), [ 
    {'name':'Rock'},
    {'name':'Meta'}
])

2018-07-10 16:25:29,085 INFO sqlalchemy.engine.base.Engine INSERT INTO "Genre" (name) VALUES (?)
2018-07-10 16:25:29,087 INFO sqlalchemy.engine.base.Engine (('Rock',), ('Meta',))
2018-07-10 16:25:29,089 INFO sqlalchemy.engine.base.Engine COMMIT

In [21]:
conn.execute(artist.insert(),[
    {"name":"Led Zepplin"},
    {'name':'AC/DC'}
])   

conn.execute(album.insert(), [ 
    {'title':'IV', 'artist_id':1},
    {'title':'Who Made Who', 'artist_id':2}
])   
# conn.execute(genre.insert(), [ 
#     {'name':'Rock'},
#     {'name':'Meta'}
# ])
conn.execute(track.insert(), [ 
    {'title':'Black Dog', 'rating':5, 'length':123, 'count':0, 'album_id':1, 'genre_id':1},
    {'title':'Nasss', 'rating':8, 'length':122, 'count':5, 'album_id':1, 'genre_id':2},
    {'title':'Zepplin', 'rating':7, 'length':130, 'count':3, 'album_id':2, 'genre_id':1},
    {'title':'abc', 'rating':1, 'length':120, 'count':1, 'album_id':2, 'genre_id':2}
])

2018-07-10 16:25:35,385 INFO sqlalchemy.engine.base.Engine INSERT INTO "Artist" (name) VALUES (?)
2018-07-10 16:25:35,388 INFO sqlalchemy.engine.base.Engine (('Led Zepplin',), ('AC/DC',))
2018-07-10 16:25:35,390 INFO sqlalchemy.engine.base.Engine COMMIT
2018-07-10 16:25:35,392 INFO sqlalchemy.engine.base.Engine INSERT INTO "Album" (title, artist_id) VALUES (?, ?)
2018-07-10 16:25:35,393 INFO sqlalchemy.engine.base.Engine (('IV', 1), ('Who Made Who', 2))
2018-07-10 16:25:35,396 INFO sqlalchemy.engine.base.Engine COMMIT
2018-07-10 16:25:35,399 INFO sqlalchemy.engine.base.Engine INSERT INTO "Track" (title, length, rating, count, album_id, genre_id) VALUES (?, ?, ?, ?, ?, ?)
2018-07-10 16:25:35,400 INFO sqlalchemy.engine.base.Engine (('Black Dog', 123, 5, 0, 1, 1), ('Nasss', 122, 8, 5, 1, 2), ('Zepplin', 130, 7, 3, 2, 1), ('abc', 120, 1, 1, 2, 2))
2018-07-10 16:25:35,402 INFO sqlalchemy.engine.base.Engine COMMIT

In [90]:
print(track.join(album).join(Genre).join(artist))

"Track" JOIN "Album" ON "Album".id = "Track".album_id JOIN "Genre" ON "Genre".id = "Track".genre_id JOIN "Artist" ON "Artist".id = "Album".artist_id

In [99]:
result = conn.execute(select([track.c.title,album.c.title, Genre.c.name, artist.c.name]
                             .select_from(track.join(album.join(Genre).join(artist))

SyntaxError: unexpected EOF while parsing (<ipython-input-99-6fabee3909ef>, line 2)

In [1]:
from sqlalchemy import create_engine, MetaData

In [2]:
engine = create_engine('sqlite:///alchemytest.db', echo=True)

In [3]:
conn = engine.connect()

2018-07-10 17:14:16,250 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-07-10 17:14:16,252 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 17:14:16,256 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-07-10 17:14:16,257 INFO sqlalchemy.engine.base.Engine ()

In [4]:
metadata = MetaData(bind = engine, reflect=True)

2018-07-10 17:14:17,124 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2018-07-10 17:14:17,127 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 17:14:17,130 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Album")
2018-07-10 17:14:17,131 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 17:14:17,134 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Album' AND type = 'table'
2018-07-10 17:14:17,135 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 17:14:17,138 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Album")
2018-07-10 17:14:17,139 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 17:14:17,141 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Album' AND type = 'table'
2018-07-10 17:14:17,143 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 17:14:17,147 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Artist")
2018-07-10 17:14:17,149 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 17:14:17,151 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Artist' AND type = 'table'
2018-07-10 17:14:17,152 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 17:14:17,154 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Artist")
2018-07-10 17:14:17,155 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 17:14:17,156 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Artist' AND type = 'table'
2018-07-10 17:14:17,158 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 17:14:17,160 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Artist")
2018-07-10 17:14:17,161 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 17:14:17,162 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Artist")
2018-07-10 17:14:17,164 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 17:14:17,166 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Artist' AND type = 'table'
2018-07-10 17:14:17,167 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 17:14:17,171 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Album")
2018-07-10 17:14:17,172 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 17:14:17,174 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Album")
2018-07-10 17:14:17,176 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 17:14:17,177 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Album' AND type = 'table'
2018-07-10 17:14:17,178 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 17:14:17,180 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Genre")
2018-07-10 17:14:17,182 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 17:14:17,183 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Genre' AND type = 'table'
2018-07-10 17:14:17,185 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 17:14:17,186 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Genre")
2018-07-10 17:14:17,188 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 17:14:17,189 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Genre' AND type = 'table'
2018-07-10 17:14:17,191 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 17:14:17,193 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Genre")
2018-07-10 17:14:17,195 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 17:14:17,197 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Genre")
2018-07-10 17:14:17,198 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 17:14:17,200 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Genre' AND type = 'table'
2018-07-10 17:14:17,202 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 17:14:17,204 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Track")
2018-07-10 17:14:17,206 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 17:14:17,208 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Track' AND type = 'table'
2018-07-10 17:14:17,210 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 17:14:17,212 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Track")
2018-07-10 17:14:17,213 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 17:14:17,215 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Track' AND type = 'table'
2018-07-10 17:14:17,216 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 17:14:17,218 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Track")
2018-07-10 17:14:17,219 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 17:14:17,221 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Track")
2018-07-10 17:14:17,222 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 17:14:17,224 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Track' AND type = 'table'
2018-07-10 17:14:17,225 INFO sqlalchemy.engine.base.Engine ()

/Users/sanghyub/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SADeprecationWarning: reflect=True is deprecate; please use the reflect() method.
  """Entry point for launching an IPython kernel.

In [5]:
metadata.reflect(bind=engine)

2018-07-10 17:14:21,223 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2018-07-10 17:14:21,224 INFO sqlalchemy.engine.base.Engine ()

In [6]:
for row in metadata.tables:
    print(row)

Album
Artist
Genre
Track

In [7]:
album = metadata.tables['Album']

In [10]:
result = conn.execute(album.select())

2018-07-10 16:32:57,668 INFO sqlalchemy.engine.base.Engine SELECT "Album".id, "Album".title, "Album".artist_id
FROM "Album"
2018-07-10 16:32:57,671 INFO sqlalchemy.engine.base.Engine ()

In [11]:
for row in result:
    print(row)

(1, 'IV', 1)
(2, 'Who Made Who', 2)

In [37]:
from sqlalchemy import create_engine

In [38]:
engine = create_engine('sqlite://', echo=True)

In [39]:
from sqlalchemy.ext.declarative import declarative_base

In [40]:
Base = declarative_base() #base 상속받아서 클래스 만들기

In [41]:
from sqlalchemy import Column, Integer, String, ForeignKey

In [42]:
class Artist(Base):
    __tablename__ = 'artist'
    
    id = Column(Integer, primary_key=True)
    name = Column(String)
    
    def __repr__(self):
        return "<T'artist(name='%s')>" % (self.name)
    
    
class Album(Base):
    __tablename__ = 'album'
    
    id = Column(Integer, primary_key=True)
    title = Column(String)   
    artist_id = Column(Integer, ForeignKey('artist.id'))
    
class Genre(Base):
    __tablename__ = 'genre'
    
    id = Column(Integer, primary_key=True)
    name = Column(String)

class Track(Base):
    __tablename__ = 'artist'
    
    id = Column(Integer, primary_key=True)
    title = Column(String)
    album_id = Column(Integer, ForeignKey('album.id'))
    genre_id = Column(Integer, ForeignKey('genre.id'))

InvalidRequestError: Table 'artist' is already defined for this MetaData instance.  Specify 'extend_existing=True' to redefine options and columns on an existing Table object.

In [15]:
artist1 = Artist(name='Led Zepplin')
artist2 = Artist(name='AC/DC')

In [17]:
artist1

In [18]:
from sqlalchemy.orm import sessionmaker

In [19]:
Session = sessionmaker(bind=engine)

In [20]:
session = Session()

In [21]:
session.add_all([artist1, artist2])

In [32]:
session.commit()

InvalidRequestError: This Session's transaction has been rolled back due to a previous exception during flush. To begin a new transaction with this Session, first issue Session.rollback(). Original exception was: (sqlite3.OperationalError) no such table: Artist [SQL: 'INSERT INTO "Artist" (name) VALUES (?)'] [parameters: ('Led Zepplin',)]

In [23]:
#인스턴스 값들이 변하는지 감시, 바뀌면 commit
session.dirty

IdentitySet([])

In [31]:
#새로 넣어야 할 것들
session.new

IdentitySet([<__main__.Album object at 0x105e56400>, <__main__.Album object at 0x105e56470>])

In [27]:
artist1.name = 'xyz'

In [30]:
session.dirty

IdentitySet([])

In [29]:
session.add_all([
    Album(title='1',artist_id=1),
    Album(title='2',artist_id=2),
])

In [33]:
session.add_all([
    Genre(name='Rock'),
    Genre(name='Metal'),
])

In [34]:
session.add_all([
    Track(name='1-1', album_id=1, genre_id = 1),
    Track(name='1-2', album_id=1, genre_id = 2),
    Track(name='2-1', album_id=1, genre_id = 1),
    Track(name='2-2', album_id=1, genre_id = 2),
])

NameError: name 'Track' is not defined

In [35]:
temp = Track(title='3-1', album_id=3, genre_id=3)

NameError: name 'Track' is not defined

In [ ]:
session.add(temp)

In [36]:
for row in session.query(Artist).filter(Artist.id==1):
    print(row)

InvalidRequestError: This Session's transaction has been rolled back due to a previous exception during flush. To begin a new transaction with this Session, first issue Session.rollback(). Original exception was: (sqlite3.OperationalError) no such table: Artist [SQL: 'INSERT INTO "Artist" (name) VALUES (?)'] [parameters: ('Led Zepplin',)]