# Korea University

In [8]:
from sqlalchemy import create_engine

In [9]:
engine = create_engine('sqlite://', echo=True)

In [22]:
metadata = MetaData(engine)

In [10]:
from sqlalchemy.ext.declarative import declarative_base

In [11]:
Base = declarative_base() #base 상속받아서 클래스 만들기

In [21]:
from sqlalchemy import Column, Integer, String, ForeignKey, MetaData

In [13]:
class Artist(Base):
    __tablename__ = 'artist'
    
    id = Column(Integer, primary_key=True)
    name = Column(String)
    
    def __repr__(self):
        return "<T'artist(name='%s')>" % (self.name)
    
    
class Album(Base):
    __tablename__ = 'album'
    
    id = Column(Integer, primary_key=True)
    title = Column(String)   
    artist_id = Column(Integer, ForeignKey('artist.id'))
    
class Genre(Base):
    __tablename__ = 'genre'
    
    id = Column(Integer, primary_key=True)
    name = Column(String)

class Track(Base):
    __tablename__ = 'track'
    
    id = Column(Integer, primary_key=True)
    title = Column(String)
    album_id = Column(Integer, ForeignKey('album.id'))
    genre_id = Column(Integer, ForeignKey('genre.id'))

In [24]:
Base.metadata.create_all(engine)

2018-07-10 17:51:10,890 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("artist")
2018-07-10 17:51:10,892 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 17:51:10,894 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("album")
2018-07-10 17:51:10,896 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 17:51:10,898 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("genre")
2018-07-10 17:51:10,900 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 17:51:10,902 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("track")
2018-07-10 17:51:10,905 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 17:51:10,907 INFO sqlalchemy.engine.base.Engine
CREATE TABLE artist (
	id INTEGER NOT NULL,
	name VARCHAR,
	PRIMARY KEY (id)
)


2018-07-10 17:51:10,909 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 17:51:10,912 INFO sqlalchemy.engine.base.Engine COMMIT
2018-07-10 17:51:10,914 INFO sqlalchemy.engine.base.Engine
CREATE TABLE genre (
	id INTEGER NOT NULL,
	name VARCHAR,
	PRIMARY KEY (id)
)


2018-07-10 17:51:10,916 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 17:51:10,917 INFO sqlalchemy.engine.base.Engine COMMIT
2018-07-10 17:51:10,919 INFO sqlalchemy.engine.base.Engine
CREATE TABLE album (
	id INTEGER NOT NULL,
	title VARCHAR,
	artist_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(artist_id) REFERENCES artist (id)
)


2018-07-10 17:51:10,921 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 17:51:10,923 INFO sqlalchemy.engine.base.Engine COMMIT
2018-07-10 17:51:10,925 INFO sqlalchemy.engine.base.Engine
CREATE TABLE track (
	id INTEGER NOT NULL,
	title VARCHAR,
	album_id INTEGER,
	genre_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(album_id) REFERENCES album (id),
	FOREIGN KEY(genre_id) REFERENCES genre (id)
)


2018-07-10 17:51:10,926 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 17:51:10,928 INFO sqlalchemy.engine.base.Engine COMMIT

In [25]:
artist1 = Artist(name='Led Zepplin')
artist2 = Artist(name='AC/DC')

In [26]:
artist1

In [27]:
from sqlalchemy.orm import sessionmaker

In [28]:
Session = sessionmaker(bind=engine)

In [29]:
session = Session()

In [30]:
session.add_all([artist1, artist2])

In [31]:
session.commit()

2018-07-10 17:51:18,182 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-07-10 17:51:18,184 INFO sqlalchemy.engine.base.Engine INSERT INTO artist (name) VALUES (?)
2018-07-10 17:51:18,186 INFO sqlalchemy.engine.base.Engine ('Led Zepplin',)
2018-07-10 17:51:18,188 INFO sqlalchemy.engine.base.Engine INSERT INTO artist (name) VALUES (?)
2018-07-10 17:51:18,190 INFO sqlalchemy.engine.base.Engine ('AC/DC',)
2018-07-10 17:51:18,193 INFO sqlalchemy.engine.base.Engine COMMIT

In [32]:
#인스턴스 값들이 변하는지 감시, 바뀌면 commit
session.dirty

IdentitySet([])

In [33]:
#새로 넣어야 할 것들
session.new

IdentitySet([])

In [34]:
artist1.name = 'xyz'

In [35]:
session.dirty

IdentitySet([<T'artist(name='xyz')>])

In [36]:
session.add_all([
    Album(title='1',artist_id=1),
    Album(title='2',artist_id=2),
])

In [37]:
session.add_all([
    Genre(name='Rock'),
    Genre(name='Metal'),
])

In [39]:
session.add_all([
    Track(title='1-1', album_id=1, genre_id = 1),
    Track(title='1-2', album_id=1, genre_id = 2),
    Track(title='2-1', album_id=1, genre_id = 1),
    Track(title='2-2', album_id=1, genre_id = 2),
])

In [40]:
temp = Track(title='3-1', album_id=3, genre_id=3)

In [41]:
session.add(temp)

In [42]:
for row in session.query(Artist).filter(Artist.id==1):
    print(row)

2018-07-10 17:52:04,697 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-07-10 17:52:04,700 INFO sqlalchemy.engine.base.Engine INSERT INTO genre (name) VALUES (?)
2018-07-10 17:52:04,701 INFO sqlalchemy.engine.base.Engine ('Rock',)
2018-07-10 17:52:04,703 INFO sqlalchemy.engine.base.Engine INSERT INTO genre (name) VALUES (?)
2018-07-10 17:52:04,705 INFO sqlalchemy.engine.base.Engine ('Metal',)
2018-07-10 17:52:04,708 INFO sqlalchemy.engine.base.Engine SELECT artist.id AS artist_id
FROM artist
WHERE artist.id = ?
2018-07-10 17:52:04,710 INFO sqlalchemy.engine.base.Engine (1,)
2018-07-10 17:52:04,712 INFO sqlalchemy.engine.base.Engine UPDATE artist SET name=? WHERE artist.id = ?
2018-07-10 17:52:04,713 INFO sqlalchemy.engine.base.Engine ('xyz', 1)
2018-07-10 17:52:04,716 INFO sqlalchemy.engine.base.Engine INSERT INTO album (title, artist_id) VALUES (?, ?)
2018-07-10 17:52:04,717 INFO sqlalchemy.engine.base.Engine ('1', 1)
2018-07-10 17:52:04,718 INFO sqlalchemy.engine.base.Engine INSERT INTO album (title, artist_id) VALUES (?, ?)
2018-07-10 17:52:04,720 INFO sqlalchemy.engine.base.Engine ('2', 2)
2018-07-10 17:52:04,722 INFO sqlalchemy.engine.base.Engine INSERT INTO track (title, album_id, genre_id) VALUES (?, ?, ?)
2018-07-10 17:52:04,723 INFO sqlalchemy.engine.base.Engine ('1-1', 1, 1)
2018-07-10 17:52:04,724 INFO sqlalchemy.engine.base.Engine INSERT INTO track (title, album_id, genre_id) VALUES (?, ?, ?)
2018-07-10 17:52:04,726 INFO sqlalchemy.engine.base.Engine ('1-2', 1, 2)
2018-07-10 17:52:04,728 INFO sqlalchemy.engine.base.Engine INSERT INTO track (title, album_id, genre_id) VALUES (?, ?, ?)
2018-07-10 17:52:04,729 INFO sqlalchemy.engine.base.Engine ('2-1', 1, 1)
2018-07-10 17:52:04,731 INFO sqlalchemy.engine.base.Engine INSERT INTO track (title, album_id, genre_id) VALUES (?, ?, ?)
2018-07-10 17:52:04,733 INFO sqlalchemy.engine.base.Engine ('2-2', 1, 2)
2018-07-10 17:52:04,735 INFO sqlalchemy.engine.base.Engine INSERT INTO track (title, album_id, genre_id) VALUES (?, ?, ?)
2018-07-10 17:52:04,739 INFO sqlalchemy.engine.base.Engine ('3-1', 3, 3)
2018-07-10 17:52:04,744 INFO sqlalchemy.engine.base.Engine SELECT artist.id AS artist_id, artist.name AS artist_name
FROM artist
WHERE artist.id = ?
2018-07-10 17:52:04,746 INFO sqlalchemy.engine.base.Engine (1,)
<T'artist(name='xyz')>