# Korea University

## Data Base

#### 데이터

정형 비정형 반정형데이터  
우리가 이번주에 배울 것은 정형데이터  
ORM: Object(클래스)와 데이터베이스를 연결하는 기술

데이터로부터 가치창출 하는 것이 우리의 목표, 어떻게 잘 쓸 수 있을까?

In [36]:
import sqlite3

In [37]:
dir(sqlite3)

['Binary',
 'Cache',
 'Connection',
 'Cursor',
 'DataError',
 'DatabaseError',
 'Date',
 'DateFromTicks',
 'Error',
 'IntegrityError',
 'InterfaceError',
 'InternalError',
 'NotSupportedError',
 'OperationalError',
 'OptimizedUnicode',
 'PARSE_COLNAMES',
 'PARSE_DECLTYPES',
 'PrepareProtocol',
 'ProgrammingError',
 'Row',
 'SQLITE_ALTER_TABLE',
 'SQLITE_ANALYZE',
 'SQLITE_ATTACH',
 'SQLITE_CREATE_INDEX',
 'SQLITE_CREATE_TABLE',
 'SQLITE_CREATE_TEMP_INDEX',
 'SQLITE_CREATE_TEMP_TABLE',
 'SQLITE_CREATE_TEMP_TRIGGER',
 'SQLITE_CREATE_TEMP_VIEW',
 'SQLITE_CREATE_TRIGGER',
 'SQLITE_CREATE_VIEW',
 'SQLITE_DELETE',
 'SQLITE_DENY',
 'SQLITE_DETACH',
 'SQLITE_DROP_INDEX',
 'SQLITE_DROP_TABLE',
 'SQLITE_DROP_TEMP_INDEX',
 'SQLITE_DROP_TEMP_TABLE',
 'SQLITE_DROP_TEMP_TRIGGER',
 'SQLITE_DROP_TEMP_VIEW',
 'SQLITE_DROP_TRIGGER',
 'SQLITE_DROP_VIEW',
 'SQLITE_IGNORE',
 'SQLITE_INSERT',
 'SQLITE_OK',
 'SQLITE_PRAGMA',
 'SQLITE_READ',
 'SQLITE_REINDEX',
 'SQLITE_SELECT',
 'SQLITE_TRANSACTION',
 'SQLITE_UPDATE',
 'Statement',
 'Time',
 'TimeFromTicks',
 'Timestamp',
 'TimestampFromTicks',
 'Warning',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 'adapt',
 'adapters',
 'apilevel',
 'collections',
 'complete_statement',
 'connect',
 'converters',
 'datetime',
 'dbapi2',
 'enable_callback_tracebacks',
 'enable_shared_cache',
 'paramstyle',
 'register_adapter',
 'register_converter',
 'sqlite_version',
 'sqlite_version_info',
 'threadsafety',
 'time',
 'version',
 'version_info']

In [38]:
sqlite3.version

'2.6.0'

In [39]:
sqlite3.version_info

(2, 6, 0)

In [40]:
type(sqlite3.version)

str

In [41]:
type(sqlite3.version_info)

tuple

In [42]:
sqlite3.sqlite_version #package는 2.대

'3.20.1'

In [43]:
conn = sqlite3.connect(':memory:')

In [44]:
conn

In [45]:
#cursor : 명령을 주고받는 역할
cur = conn.cursor()

In [46]:
cur

In [47]:
cur.execute('create table people (name_last, age)')

In [48]:
who = 'Yelstin'
age = 72

In [49]:
age, who

(72, 'Yelstin')

In [50]:
cur.execute('insert into people values(?,?)', (who,age))

In [51]:
cur.execute('select * from people where name_last=:who and age=:age',
            {'who':who,'age':age})

In [52]:
cur.fetchone()

('Yelstin', 72)

여러개 넣기

In [53]:
sql = 'insert into people values(?, ?)'

In [54]:
sql

'insert into people values(?, ?)'

In [55]:
data = [('1',1), ('2',2), ('3',3), ]

In [56]:
cur.executemany(sql, data)

select문을 script에 쓰지 말것!

In [57]:
cur.executescript (
"""
    create table person ( 
        first_name text primary key,
        last_name text not null
        );
    
    insert into person values('name', 'kim')
"""
)

In [61]:
cur.execute('select * from people')

In [62]:
cur.fetchall()

[('Yelstin', 72), ('1', 1), ('2', 2), ('3', 3)]

In [63]:
cur.execute('select * from person')

In [64]:
cur.fetchall()

[('name', 'kim')]

In [65]:
conn.close()

In [67]:
conn = sqlite3.connect('test.db')
print

In [83]:
conn.execute( 
"""
    create table company (
        id int primary key not null,
        name text not null,
        age int not null,
        address char(50),
        salary real);
""")

In [82]:
conn.execute('drop table company')

In [84]:
conn.execute ("insert into company  (id, name, age, address, salary) \
              values (1,'paul', 32,'california', 20000.00)");
conn.execute ("insert into company (id, name, age, address, salary) \
              values (:id, :name, :age, :address, :salary)",
              {'id':2, 'name':'allen', 'age':25, 'address':'Texas','salary':15000.00 })

data = [(3, 'Teddy', 23, 'Norway', 20000.00),
        (4, 'Mark', 25, 'Rich-Mond', 65000.00)]

conn.executemany('insert into company (id, name, age, address, salary)\
                 values(?,?,?,?,?)', data);
conn.executescript("""
    insert into company (id, name, age, address, salary)
    values (5, 'Mark2', 25, 'Rich-Mond', 65000.00);
    
    insert into company (id, name, age, address, salary)
    values (6, 'Mark2', 25, 'Rich-Mond', 65000.00)
    """);
conn.commit()
print('Records created successfully')

Records created successfully

In [92]:
temp = conn.execute('select * from company')

In [93]:
type(temp)

sqlite3.Cursor

In [94]:
for row in temp:
    print(type(row),row)

<class 'tuple'> (1, 'paul', 32, 'california', 20000.0)
<class 'tuple'> (2, 'allen', 25, 'Texas', 15000.0)
<class 'tuple'> (3, 'Teddy', 23, 'Norway', 20000.0)
<class 'tuple'> (4, 'Mark', 25, 'Rich-Mond', 65000.0)
<class 'tuple'> (5, 'Mark2', 25, 'Rich-Mond', 65000.0)
<class 'tuple'> (6, 'Mark2', 25, 'Rich-Mond', 65000.0)

In [96]:
cid = 1
conn.execute('update company set salary = 25000.00 \
              where id =:id', {"id":cid})

In [97]:
conn.commit() #db에 반영, 값이 바뀜

In [98]:
cursor = conn.execute('select id, name, address, salary from company')
for row in cursor:
    print('id = ', row[0])
    print('name = ', row[1])
    print('address = ', row[2])
    print('salary = ', row[3], end='\n\n')
print('operation done')

id =  1
name =  paul
address =  california
salary =  25000.0

id =  2
name =  allen
address =  Texas
salary =  15000.0

id =  3
name =  Teddy
address =  Norway
salary =  20000.0

id =  4
name =  Mark
address =  Rich-Mond
salary =  65000.0

id =  5
name =  Mark2
address =  Rich-Mond
salary =  65000.0

id =  6
name =  Mark2
address =  Rich-Mond
salary =  65000.0

operation done

In [99]:
conn.execute('delete from company where id = 2;')

In [100]:
conn.commit() #allan 제거됨

In [102]:
import sqlite3 as sql
con = None
try:
    con = sql.connect('text.db')
    cur = con.cursor()
    cur.execute('select sqlite_version()')
    data = cur.fetchone()
    print('sqlite version: ', data)
except Exception as e:
    print('Error: ', e)

finally:
    if con :
        con.close()

sqlite version:  ('3.20.1',)

In [ ]:
#93
con = sql.connect('test.db')

with con :
    cur = con.cursor()
    cur.execute('create table')